In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
# load ETF prices from pkl file
df_prices = pd.read_pickle('etf_close_prices.pkl')
df_prices

,ARKK,ARKQ,ARKW,CIBR,CQQQ,CWEB,FDN,FTC,FTEC,FTXL,...,TQQQ,USD,VGT,VV,XITK,XLK,XNTK,XSD,XSW,XT
date,,,,,,,,,,,,,,,,,,,,,
2018-01-02 00:00:00+00:00,36.133634,32.247813,41.379598,22.503973,61.906008,509.985282,111.07,59.363983,47.459949,29.450725,...,11.655315,5.208040,156.413246,109.756618,77.703023,60.083412,62.744553,69.745467,68.536574,33.627027
2018-01-03 00:00:00+00:00,36.283489,32.711363,41.806371,22.696397,62.279113,515.860900,112.64,60.087699,47.984472,30.007875,...,11.996567,5.338779,158.043136,110.458762,78.710931,60.584571,63.616921,70.800603,69.117810,33.898590
2018-01-04 00:00:00+00:00,36.405245,32.830835,41.797662,22.811852,62.868226,527.153103,112.92,60.328938,48.256100,30.287404,...,12.066895,5.354208,158.951753,110.920933,79.572751,60.890835,63.800192,71.303971,70.024144,34.029689
2018-01-05 00:00:00+00:00,36.995297,33.241818,42.398628,22.840715,63.329699,546.359030,114.01,60.792116,48.724424,30.452450,...,12.431324,5.394404,160.647214,111.631964,79.867868,61.531205,64.547936,71.536295,70.162064,34.310617
2018-01-08 00:00:00+00:00,36.742418,33.652801,42.546693,23.023518,63.712622,559.560809,114.78,61.129850,48.996052,30.528772,...,12.569583,5.498345,161.415323,111.880825,80.309072,61.763223,65.024440,72.165504,70.831963,34.348074
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-04-16 00:00:00+00:00,45.080000,64.610000,91.230000,62.230000,39.850000,31.460000,212.67,125.890000,151.100000,67.490000,...,45.290000,34.310000,507.750000,241.860000,150.907200,193.910000,177.894400,172.930000,150.445700,54.200000
2025-04-17 00:00:00+00:00,45.120000,64.690000,91.480000,61.770000,39.950000,31.490000,211.93,126.390000,150.250000,67.240000,...,45.160000,32.780000,505.530000,242.470000,150.979200,192.860000,177.864000,172.800000,150.401800,54.370000
2025-04-21 00:00:00+00:00,44.440000,62.580000,89.720000,60.220000,40.260000,31.590000,206.33,122.790000,146.280000,66.070000,...,41.860000,30.590000,491.750000,236.430000,146.793800,187.880000,173.882800,169.650000,145.967200,53.600000
2025-04-22 00:00:00+00:00,46.120000,63.880000,93.380000,61.310000,41.000000,33.670000,212.73,126.850000,149.840000,67.330000,...,45.060000,31.840000,503.850000,242.540000,151.174300,192.460000,179.310000,173.700000,150.610000,54.830000
2025-04-23 00:00:00+00:00,47.950000,66.090000,96.960000,62.690000,41.580000,35.270000,218.54,128.900000,154.520000,69.770000,...,48.050000,34.200000,518.880000,246.510000,155.233800,198.040000,185.344700,180.740000,155.200000,55.760000

## Loading PCA Clusters

### Import Classes

In [3]:
os.chdir('classes')
os.getcwd()

'/Users/omar/Documents/WQU-Capstone/notebooks/classes'

In [4]:
%load_ext autoreload
%aimport class_SeriesAnalyser, class_Trader, class_DataProcessor, class_ForecastingTrader
%autoreload 1

In [5]:
series_analyser = class_SeriesAnalyser.SeriesAnalyser()
trader = class_Trader.Trader()
data_processor = class_DataProcessor.DataProcessor()

In [6]:
# split data in training and test
df_prices_train, df_prices_test = data_processor.split_data(df_prices,
                                                            ('01-01-2018',
                                                             '31-12-2023'),
                                                            ('01-01-2024',
                                                             '31-12-2024'),
                                                            remove_nan=True)
train_val_split = '01-01-2023'

Total of 70 tickers
Total of 70 tickers after removing tickers with Nan values

# Pairs Selection

In [7]:
subsample = 2500
min_half_life = 21 # avg. number of points in a month
max_half_life = 252 # avg. number of points in a year

## PCA pairs selection

In [8]:
import gdown

# import csv file with PCA clusters
pca_clusters_url = "https://drive.google.com/uc?id=1NERf_6JdL2DPLipSPLzcakrXRFj-RS4q"
output_file = "pca_clusters.csv"
gdown.download(pca_clusters_url, output_file, quiet=False)

# load in a df
pca_clusters = pd.read_csv(output_file)
pca_clusters.rename(columns={"Index": "Ticker", "Cluster": "Category_cluster"}, inplace = True)
pca_clusters.set_index("Ticker", inplace = True)

Downloading...
From: https://drive.google.com/uc?id=1NERf_6JdL2DPLipSPLzcakrXRFj-RS4q
To: /Users/omar/Documents/WQU-Capstone/notebooks/classes/pca_clusters.csv
100%|██████████| 447/447 [00:00<00:00, 603kB/s]

In [ ]:
pairs_category, unique_tickers = series_analyser.get_candidate_pairs(
                                                            clustered_series = pca_clusters,
                                                            pricing_df_train=df_prices_train,
                                                            pricing_df_test=df_prices_test,
                                                            min_half_life=min_half_life,
                                                            max_half_life=max_half_life,
                                                            min_zero_crosings=12,
                                                            p_value_threshold=0.01,
                                                            hurst_threshold=0.5,
                                                            subsample=subsample,
                                                            )

pairs_found_category = len(pairs_category)

pairs_found_category

Cluster 1/22

In [ ]:
import pickle
with open('PCA_selected_pairs.pickle', 'wb') as f:
   pickle.dump(pairs_category, f)

In [ ]:
pairs_found_category

In [ ]:
pairs_category

# CAE Pairs Selection

In [ ]:
# import csv file with PCA clusters
cae_clusters_url = "https://drive.google.com/uc?id=1LJYOIUv5o1I69yCTcMEN0BhNxfyKnNX_"
output_file ="cae_clusters.csv"
gdown.download(pca_clusters_url, output_file, quiet=False)

# Loading CAE clusters
cae_clusters = pd.read_csv(output_file)
cae_clusters.rename(columns={"Index": "Ticker", "Cluster": "Category_cluster"}, inplace = True)
cae_clusters.set_index("Ticker", inplace = True)

In [ ]:
cae_pairs_category, cae_unique_tickers = series_analyser.get_candidate_pairs(
                                                            clustered_series=cae_clusters,
                                                            #df_category['Category_cluster'],
                                                            pricing_df_train=df_prices_train,
                                                            pricing_df_test=df_prices_test,
                                                            min_half_life=min_half_life,
                                                            max_half_life=max_half_life,
                                                            min_zero_crosings=12,
                                                            p_value_threshold=0.01,
                                                            hurst_threshold=0.5,
                                                            subsample=subsample,
                                                            )

cae_pairs_found_category = len(cae_pairs_category)

cae_pairs_found_category

In [ ]:
with open('CAE_selected_pairs.pickle', 'wb') as f:
   pickle.dump(cae_pairs_category, f)